absl-py==2.1.0
box2d-py==2.3.5
cloudpickle==3.0.0
conda-env==2.4.2
etils==1.7.0
Farama-Notifications==0.0.4
fsspec==2024.3.1
glfw==2.7.0
gymnasium==0.27.1
imageio==2.34.1
importlib_resources==6.4.0
mujoco==2.3.1
numpy==1.26.4
pillow==10.3.0
pip==24.0
pygame==2.5.2
PyOpenGL==3.1.7
setuptools==69.5.1
swig==4.2.1
typing_extensions==4.11.0
wheel==0.43.0
zipp==3.18.1
matplotlib==3.9.0
